/*Prevent Problems on Different Browsers*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

.my-element {
    height: 48px;
}

/* Header Stuff Here*/
header {
    background-color: #F1ECE9;
    padding: 1rem 10px;
}

header span {
    color: #0160D6;
    font-family: "Playfair Display Bold", serif;
    font-size: 1.6rem;
    font-weight: 700;
}

/* small screen navigation */
@media only screen and (max-width: 600px) {
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    nav a {
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #0160D6;
        font-weight: 700;
    }

    nav li.active a {
        background-color: #0160D6;
        color: #AAB624;
        background-image: linear-gradient(to bottom, #4169E1, #0047AB);
    }


    nav li a:hover {
        color: white;
    }


}

/* end small screen navigation */



/* LARGE SCREEN NAVIGATION */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
nav li{
    display: inline-block;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #0160D6;
    font-weight: 700;
}

nav li.active a {
    background-color: #0160D6;
    color: #AAB624;
}


nav li a:hover {
    color: white;

}

/* end Large screen  */



/* Navigation Stuff Here */
nav {
    background-color: #AAB624;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #0160D6;
    font-weight: 700;
}

nav li.active a {
    background-color: #0160D6;
    color: #AAB624;
}


nav li a:hover {
    color: white;

}

/* Main Stuff Here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #AAB624;
}

main h2 {
    color: #0160D6;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main dl dt {
    color: #B40412;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #0160D6;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #AAB624;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #0160D6;
    width: 200px;
}

main a {
    color: #0160D6;
}
.wrapimage {
    width: 50%;
    margin: 0;
    float: right;
    margin-left: 2vw;
}

.wrapimage img {
    width: 100%;
    height: auto;
}

.wrapimage figcaption {
    text-align: center;
    font-size: .8rem;
}




.hero {
    width: 100%;
    height: auto;
}





div.gallery img {
    width: 98%;
    height: auto;
    border-radius: 5px;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* table stuff here */
table.recommendations {
    width: 100%;
    border-collapse: collapse;
}

table.recommendations th {
    background-color: #4D0099;
    color: #FFD500;
    padding: .6rem 2%;
    text-align: center;
}

table.recommendations td {
    color: #9E0047;
    padding: .4rem 2%;
}

table.recommendations tr:nth-child(odd) {
    background-color: #eee;
}

table.recommendations tr:hover {
    background-color: #ddd;
}








main a:hover {
    color: rgb(180, 4, 18);

}

/* Main image stuff */
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

/* gallery stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #376259;
}

/* My Form */
.myForm fieldset {
    border: 1px solid #4D0099;
    ;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #4D0099;
    ;
    font-size: .8rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Lato",
        sans-serif;
    font-weight: 300;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(156, 51, 53, 0.1);
}

.myForm [type=submit] {
    background-color: #4D0099;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}


/*footer stuff here*/
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}


header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}